# macosx
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pelican server related ids
pelican.pid
svr.pid

# C extensions
*.so

# IDE files
.idea

### JupyterNotebook ###
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

### Images ###
# Tagged Image File Format
*.tiff
*.tif

### Data ###
data

### Tensorboard logs ###
logs
runs

### temp files or swp file ###
*.swp
temp
cache
backup
*.pkl

# nohup output
nohup.out

# Pelican
pelican-themes
#*.bck
srv.pid
pelican.pid

