{% macro get_meta_data_html(article, exclude_category, meta_types=['date', 'category', 'tag']) %}
    {% if 'date' in meta_types %}
        {{ article.date.strftime('%m-%d-%Y') }}
    {% endif %}

    {% if 'category' in meta_types %}
        {% if article.category and article.category != exclude_category %}
            / <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category.name }}</a>
        {% endif %}
    {% endif %}

    {% if 'tag' in meta_types and article.tags %}
        /
        {% for tag in article.tags %}
            {% if not loop.last %}
                <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>,
            {% else %}
                <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
{%  endmacro %}

{% macro get_article_list(articles, exclude_category) %}
    <ul class="double-list">
    {% for article in articles %}
        <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            &nbsp
            <span class="post-meta"> - {{ get_meta_data_html(article, exclude_category, meta_types=['date', 'tag']) }}</span>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro add_nav_buttons(article, exclude_category) %}
    {% if article.category and article.category != exclude_category %}
    <div class="row">
      {% if article.prev_article_in_category %}
      <span style="float:left">
        &#8592;
        <a href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">
          {{ article.prev_article_in_category.title }}
        </a>
      </span>
      {% endif %}

      {% if article.next_article_in_category %}
      <span style="float:right">
        <a href="{{ SITEURL }}/{{ article.next_article_in_category.url}}">
          {{ article.next_article_in_category.title }}
        </a>
        &#8594;
      </span>
      {% endif %}
    </div>
    {% endif %}
{%  endmacro %}

